Altro/Google Dapper.pdf
Altro/Kelsey Hightower, Brendan Burns, Joe Beda - Kubernetes_ Up and Running_ Dive into the Future of Infrastructure-O’Reilly Media (2017).pdf
Altro/Nigel Poulton - The Kubernetes Book-Independently published (2017).pdf
